/* This is the css file for Codecademy's Unit 4 My Times project: index.html.  */

/* Style for whole page for font. */
body {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

/* Style navigation links for whole page. */
a:link,
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/*  Syle header.  There are two parts: logo and navigation.  */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: thin solid black;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;

}

.header-logo {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}
  .header-logo p {
    color: MediumAquamarine;
    padding-left: 15px;
  }

.header-nav-container{
  padding-top: 5px;
  margin-right: 50px;
}

  .header-items{
    justify-content: center;
  }

  .headerlist li {
    display: inline-block;
  }

  .nav-item-box{
    padding-right: 30px;
  }


/* Style main body.  Three columns. */
.columns-container {
  position:relative;
  top: 100px;
  display: inline-flex;
  z-index: 1;
  margin-top: 25px;
  margin-left: 100px;
  font-family: Georgia;
  text-align:left;
}
.column.large {
  width: 630px;
  margin-right: 25px;
}

    .feeling-funny-image{
      padding-top: 30px;
      padding-left: 20px;
      font-size: 40px;
      font-weight: bold;
      color: white;
      background-image: url("../images/img-story-main-dinner-table.png");
      height: 250px;

      /* border: thin solid blue; */
    }
.story-title p{
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-right: 15px;
  margin-top: 0px;
  padding: 0px;
}
.story-text p{
  font-weight: normal;
  font-size: 17px;
  color: black;
  margin-right: 15px;
}

.feeling-funny-story{
  /* border: thin solid black; */
}

.half-column-articles{
  display: inline-flex;
}

.earth-spins-image{
  background-image: url("../images/img-story-2-fall-season.png");
  /* border: thin solid black; */
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 225px;
  margin-right: 20px;
  text-align:center;
  padding-top: 75px;
}

.camera-image{
  background-image: url("../images/img-story-3-camera.png");
  /* border: thin solid black; */
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 225px;
  text-align: center;
  padding-top: 75px;
}

.cat-image{
  background-image: url("../images/img-story-1-CEO-cat.png");
  /* border: thin solid black; */
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 225px;
  text-align: center;
  padding-top: 75px;
}


.column.medium {
  width: 300px;
  margin-right: 25px;
}

.column.small {
  display: flex;
  width: 240px;
}
.news-bites-header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites-links p{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: thin solid black;
  padding: 15px 15px;
  margin: 0px;
}
/* ****** FOOTER ********* */
.footer-container {
  position:relative;
  top: 150px;
  left: 0px;
  z-index: 0;
  display: flex;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
}

.logo-and-nav{
    display: inline-flex;
    align-items: center;
}

.footer-logo{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0px 20px 0px 0px;

}

.single-vert-line{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer-nav-item-box{
  padding-right: 15px;
}

.footerlist li {
  display: inline-block;
}
