/* This is the css file for Codecademy's Unit 4 My Times project: index.html.  */

/* Style for whole page for font. */
body {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

/* Style navigation links for whole page. */
a:link,
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/*  Syle header.  There are two parts: logo and navigation.  */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: thin solid black;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}
  .header-logo P {
    color: MediumAquamarine;
    padding-left: 15px;
  }

.header-nav-container{
  padding-top: 5px;
  margin-right: 50px;
}

  .header-items{
    justify-content: center;
  }

  .headerlist li {
    display: inline-block;
  }

  .nav-item-box{
    padding-right: 30px;
  }
